<div class="contenedor-archivos">
    <div class="form-upload">
        <p class="titular">Referentes</p>
        <form id="form-upload-referentes" enctype="multipart/form-data" action="/referentes" method="post">
            <input type="file" name="image" id="imagen" multiple="true"/>
            <input type="submit" value="Upload" name="submit" class="boton">
        </form>
    </div>
    <div class="form-upload">
        <p class="titular">Tipografías</p>
        <form id="form-upload-typo" enctype="multipart/form-data" action="/tipografias" method="post">
            <input type="file" name="image" multiple="true"/>
            <input type="submit" value="Upload" name="submit" class="boton">
        </form>
    </div>
    <div class="form-upload">
        <p class="titular">Paletas</p>
        <form id="form-upload-paletas" enctype="multipart/form-data" action="/paletas" method="post">
            <input type="file" name="image" multiple="true"/>
            <input type="submit" value="Upload" name="submit" class="boton">
        </form>
    </div>
    <div class="form-upload">
        <p class="titular">Bocetos</p>
        <form id="form-upload-bocetos" enctype="multipart/form-data" action="/bocetos" method="post">
            <input type="file" name="image" multiple="true"/>
            <input type="submit" value="Upload" name="submit" class="boton">
        </form>
    </div>
</div>