<div class="contenedor-uploads">
  
  <div class="contenedor-aviso">
      <h2>CARGA EXITOSA!</h2>
      {{#each listaUploads}}
      <p>El archivo <b>{{this.filename}}</b> fue subido correctamente</p>
      {{/each}}
      <a href="/subida-archivos" class="boton">Volver atrás</a>
  </div>

</div>