/* Reset básico */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /*-webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;*/
}

*:focus {
    outline: none;
}

/* SCROLL */
*::-webkit-scrollbar {
    width: 14px;
  }
  
   /* Estilos barra (thumb) de scroll */
  *::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: #999999;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }
  
   /* Estilos track de scroll */
  *::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
  }
  
  *::-webkit-scrollbar-track:hover, 
  *::-webkit-scrollbar-track:active {
    background: #d4d4d4;
  }


/* GENERAL */
body{
    background-color:#eee7e7;
    font-family: 'Fira Sans', sans-serif;
}

h1{
    font-size: 400%;
    margin-top: 10%;
    font-weight: 700;
    color: #16a085;
    text-align: center;
}

h2 {
    color: #EC7063;
    font-size: 260%;
    font-weight: 800;
    margin-top: 30px;
}

h3{
    font-size: 150%;
    margin-top: 10pt;
    margin-bottom: 40px;
    font-weight: 500;
    line-height: 35px;
    text-align: center;
}

h4 {
    font-size: 20px;
    font-weight: 500;
    color: #16a085;
    margin: 60px 0 20px 0;
    text-align: center;
}

h5 {
    color: #16a085;
    font-size: 80%;
    margin: 10px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

header { 
    flex: 1 1 auto;
    text-align: center;
    background-color: #16a085;
    padding: 15px 0 0 0;
    position: relative;
    width: 100%;
}

header p {
    font-size: 150%;
    font-weight: 600;
    font-style: italic;
    color: white;
    margin: 10px;
}

nav {
    background-color: #1BCAA8;
    color: white;
    padding: 15px 0 15px 0;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
}
nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 10px 0 10px;
    font-weight: 400;
}
nav a:hover, nav a:focus {
    opacity: 1;
    text-shadow: 0 4px 6px rgba(0, 0, 0, 0.63);
    transition: 0.1s ease;
}

footer {
    flex: 1 1 auto;
    display: flex;
    flex-flow: row nowrap;
    background-color: #16a085;
    align-items: center;
    font-family: 'Fira Sans', sans-serif;
    justify-content: space-between;
    padding: 5px 20px;
    position: relative;
    margin-bottom: 0;
    width: 100%;
}
    .contacto ul{
        list-style: none;
        flex: 1 1 auto;     
    }
        .contacto li {
            display: inline-flex;
            font-size: 12pt;
            margin-right: 30px;
        }

            .contacto li a {
                text-decoration: none;
                font-family: 'Fira Sans', sans-serif;
                font-weight: 400;
                color: #DAEEEE;
            }

            .contacto li a:hover, li a:focus {
                opacity: 1;
                text-shadow: 0 4px 6px rgba(0, 0, 0, 0.63);
                transition: 0.1s ease;
            }
    
    .footer-text {
        display: flex;
        flex: 1 1 auto;
        flex-flow: row-reverse;
        font-size: 100%;
        color: #DAEEEE;
        font-weight: 400;
    }
        .redes {
            display: flex;
            flex: 1 1 auto;
            flex-flow: row-reverse;
            margin-left: 50px;
        }
            .icon-redes img{ 
                width: 30px;
                margin: 10px;
            }


.boton {
    margin-top: 28px;
    margin-bottom: 10px;
    padding: 10px 20px;
    background: #16a085;
    border: none;
    border-radius: 4px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 13pt;
    text-transform: uppercase;
    transition: 0.1s ease;
    cursor: pointer;
}
.boton:hover, .boton:focus {
    opacity: 0.8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
    outline: none;
}


.contenedor {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.contenedor-botones {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
.contenedor-botones button {
    flex: 1 1 auto;
    align-self: center;
    width: 20%;
    margin: 20px;
    font-size: 20px;
    font-weight: 500;
}

.logo {
    flex: 1 1 auto;
    width: 15%;
    height: auto;
    margin: 40px 0 -100px 0;
    align-self: center;
}


/* MODAL DEL SIGN UP, SING IN */
.modal {
    display: none; /* oculta el modal de manera predeterminada */
    position: fixed; /* lo mantiene en su lugar */
    z-index: 1; /* lo posiciona una capa mas arriba */
    left: 0;
    top: 0;
    width: 100%; /* ocupa todo el ancho */
    height: 100%; /* ocupa todo el alto */
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.836); 
}

.modal-contenido {
    margin: 5% auto; /* 15% desde arriba y el centro */
    padding: 20px 40px;
    width: 60%; /* puede ser menos o mas dependiendo del tamaño que le quieran dar a la caja modal */
    font-family: 'Fira Sans', sans-serif;
}

.close-modal img{
    width: 30px;
    float: right;
    transition: 0.1s ease;
    cursor: pointer;
}

    .close-modal img:hover, .close-modal img:focus {
        border-radius: 6px;
        opacity: 0.8;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
        transition: 0.1s ease;
    }
    

/* FORM DEL SIGN UP, SIGN IN */
.form-usuario {
    display: flex;
    flex-flow: column wrap;
    position: relative;
    margin: 4% auto;
    align-items: center;
    background-color: whitesmoke;
    width: 400px;
    border-radius: 2px;
    padding: 2% 4% 4% 4%;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4)
}

    .form-usuario p {
        margin: 0 0 15px 0;
        font-size: 11pt;
        line-height: 15pt;
        text-align: center;
    }

    .form-usuario input[type="text"], input[type="password"] {
        display: block;
        margin-top: 8pt;
        text-align: left;
        font-size: 11pt;
        width: 220px;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background: none;
        border: none;
        border-bottom: 1px solid #AAA;
        padding: 4px;
    }

    .form-usuario input:focus, input:focus {
        border-bottom: 2px solid #16a085;
        color: #16a085;
    }
 

#linkInicio, #linkRegistro {
    cursor: pointer;
    color:dodgerblue;
}



/*---HOME---*/
.contenedor-proyecto {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    padding: 40px 40px 276px 40px;

}
    .contenedor-proyecto > p {
        flex: 1 1 auto;
        font-size: 20px;
        font-weight: 500;
        color: #16a085;
        text-align: center;
        margin-top: 10px;
        line-height: 38px;
    }

#form-proyecto {
    flex: 1 1 auto;
    align-self: center;
    padding: 4% 6%;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: -200px;
    width: 50%;
    line-height: 30px;
    font-size: 15px;
    box-sizing: border-box;
    background-color: #E1DCDC;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.336);
    text-align: left;
}
    #form-proyecto p{
        color: #16a085;
        font-size: 25px;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
        padding-bottom: 2%;
    }
    #form-proyecto ul li{
        list-style-type: none;
        text-decoration: none;
        position: relative;
    }
    #form-proyecto label {
        width: 150px;
        margin-top: 3px;
        padding:3px;
        float: left;
        font-size: 15px;
    }

    #form-proyecto input {
        background: none;
        border: none;
        border-bottom: 1px solid #AAA;
        margin: 0 3% 3% 3%;
        height: 15px; 
        width: 250px; 
        padding: 12px 8px;
        font-family: 'Roboto', sans-serif;
    }
    #form-proyecto input:focus {
        border-bottom: 2px solid #16a085;
        color: #16a085;
        transition: 0.2s ease;
    }

    #form-proyecto textarea {
        background: none;
        border: 1px solid #AAA;
        padding: 10px;
        margin: 2% 3%;
        width: 250px;
        height: 100px;
        font-family: 'Roboto', sans-serif;
    }
    #form-proyecto textarea:focus {
        color: #16a085;
        transition: 0.2s ease;
        box-shadow: 0 0 5px #16a085;
        border-color: #16a085;
    }
    
    #btnCrearProyecto {
        width: 20%;
        align-self: center;
    }


/*---SUBIDA ARCHIVOS---*/
.contenedor-archivos {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    padding: 40px 40px 60px 40px;
}

.form-upload {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column nowrap;
    width: 20%;
    height: 40%;
    margin: 15px 20px 0px 20px;
}

  .form-upload form {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
  }
  
    .form-upload input[type="file"] {
        flex: 1 1 auto;
        cursor: pointer;
        border: 2px dashed #CECECE;
        width: 200px;
        height: 200px;
        margin: 10px;
        
    }
    .form-upload input[type="submit"] {
        width: 50%;
    }


.contenedor-descripcion {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 40px 40px 288px 40px;
}
.bloque-texto {
    flex: 1 1 auto;
    font-size: 17px;
    font-weight: 500;
    color: #16a085;
    line-height: 25px;
    box-sizing: border-box;
    background-color: #E1DCDC;/*#E4DEDE;*/
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.336);
    border-radius: 5px;
    width: 50%;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: -54px;
    
}

/* TODO: estilo con el input file sin opacidad
.form-upload {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -250px;
    width: 500px;
    height: 200px;
    border: 2px dashed #CECECE;
}
  .form-upload p {
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 170px;
    color: #AAA;
    font-family: 'Roboto', sans-serif;
  }
  
  .form-upload input[type="file"] {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -250px;
    width: 500px;
    height: 200px;
    outline: none;
    opacity: 0;
    cursor: pointer;
  }
*/


/* UPLOAD OK, ERROR */
.contenedor-aviso {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    padding: 40px 40px 171px 40px;
}
.contenedor-aviso h1 {
    margin-top: 60px;
    color: #EC7063;
}
.contenedor-aviso a {
    text-decoration: none;
    width: 20%;
    align-self: center;
    background-color: #EC7063;
}



/* GALERIA UPLOADS */
.contenedor-uploads {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    padding: 40px 40px 171px 40px;
}

.contenedor-uploadsCarpeta {
    flex: 1 1 auto;
    display: flex;
    flex-flow: row wrap;
}


.contenedor-archivo {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    border: 2px solid red;
    width: 20%;
    

}

.img-upload{
    width: 50%;
    
}


/*
